.sidebar {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  gap: 3rem;
  color: var(--primary-color-light);
  background-color: var(--primary-color);
}

@media screen and (max-width: 962px) {
  .sidebar {
    height: calc(100vh - 5rem);
    padding: 2rem 0 3rem;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
  }
}

.sidebar-foto {
  width: 100%;
  border-bottom: 0.7rem solid var(--accent-color);
  user-select: none;
}


@media screen and (max-width: 962px) {
  .sidebar-profile {
    justify-content: center;
  }

  .sidebar-foto {
    width: 250px;
    border: 0.5rem solid var(--accent-color);
    border-radius: 100%;
  }
}

.sidebar-greeting {
  padding: 0 1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 962px) {
  .sidebar-greeting {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.sidebar-title {
  padding-bottom: 1.5rem;
  color: var(--text-color);
}

@media screen and (max-width: 982px) {
  .sidebar-title {
    padding-bottom: 1rem;
    text-align: center;
  }
}


.sidebar-text {
  display: flex;
  flex-direction: column;  
  padding-bottom: 1rem;
  gap: 1rem;
  text-align: justify;
}

@media screen and (max-width: 982px) {
  .sidebar-text {
    padding-bottom: 0px;
  }
}

.sidebar-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  gap: 2rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 962px) {
  .sidebar-socials {
    flex-direction: row;
  }

  .socials-title {
    display: none;
  }
}

.socials-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-link { 
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.icon-link:hover {
  fill: var(--accent-color);
  transition: 0.2s;
}

.icon-link:not(:hover) {
  fill: var(--primary-color-light);
  transition: 0.4s;
}

@media screen and (max-width: 962px) {
  .icon-svg {
    width: 2rem;
    height: 2rem;
    fill: var(--accent-color);
  }

  .socials-contact {
    display: none;
  }
}








/*------------------------*/






/* @media screen and (max-width: 962px) {
  


  .container__header,
  .section__title {
    text-align: center;
  }


} */




















