.body {
  display: grid;
  grid-template-columns: 32% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav nav"
    "aside main"
    "footer footer";
  max-width: 1200px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
  color: var(--background-color);
  background-color: var(--background-color);
}

@media screen and (max-width: 962px) {
  .body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "aside"
      "main"
      "footer";
    width: 100%;
  }
}

@media print {
  .body {
    grid-template-columns: 35% 1fr;
  }
}
