.resume {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--text-color);
}

.container {
  width: calc(100% - 6rem);
  margin: 1rem;
  padding: 1rem 2rem;
  border-left: 1px solid var(--divider-color);
}

@media screen and (max-width: 962px) {
  .container {
    display: flex;
    width: calc(100% - 2rem);
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    padding: 1rem;
    border: none;
  }
}

.container-header {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 962px) {
  .container-header {
    margin-bottom: 0;
    text-align: center;
  }
}

.header-name {
  padding-bottom: 1.5rem;
  font-weight: 700;
  font-size: clamp(3rem, 10vw, 6rem);
  text-transform: uppercase;
}

.header-firstname {
  color: var(--background-color);
}

.header-lastname {
  color: var(--accent-color);
}

.header-prof {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--background-color);
  text-transform: uppercase;
}

.container-section--visible,
.container-header--visible {
  width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 962px) {
  .container-section--visible,
  .container-header--visible {
    padding-top: 2rem;
  }
}

.container-section--hidden,
.container-header--hidden {
  display: none;
}

.container-section:not(:last-child) {
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--divider-color);
}

.section-title {
  padding-bottom: 1.5rem;
  color: var(--accent-color);
}

@media screen and (max-width: 962px) {
  .section-title {
    text-align: center;
  }
}

.section-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
  gap: 1rem;
}

.section-item_title--inline {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-item_description {
  text-align: justify;
}

.section-dates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--accent-color);
}

.section-item_link {
  color: var(--accent-color);
}

.section-item_link:hover {
  color: var(--background-color);
  transition: 0.2s;
}

.section-item_link:not(:hover) {
  color: var(--accent-color);
  transition: 0.4s;
}

.section-item_url--hidden {
  display: none;
}

@media screen and (max-width: 962px) {
  .section-item_url {
    display: none;
  }

  .section-item_url--hidden {
    display: block;
  }
}
