.nav {
  grid-area: nav;
  text-align: center;
}

.nav-button {
  user-select: none;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 962px) {
  .nav-icon {
    position: fixed;
    right: 0.5rem;
    z-index: 200;
    display: block;
    fill: var(--accent-color); 
  }

  .nav-icon--hidden {
    opacity: 0;
    transition: 0.4s;
  }

  .nav-menu {
    right: 0;
    position: fixed;
    z-index: 100;
    display: block;
    height: 100vh;
    width: auto;
    background-color: white;
    opacity: 0.7;
  }

  .nav-menu--hidden {
    display: none;
  }
}

.nav-list {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  list-style-type: none;
}

@media screen and (max-width: 962px) {
  .nav-list {    
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
  }
}

.list-item {
  text-decoration: none;
  color: var(--primary-color-light);
  user-select: none;
}

.list-item[name="about"] {
  display: none;
}

.list-item:hover {
  color: var(--accent-color);
  transition: 0.2s;
}

.list-item:not(:hover) {
  color: var(--primary-color-light);
  transition: 0.4s;
}

@media screen and (max-width: 962px) {
  .list-item[name="about"] {
    display: block;
  }

  .list-item {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color) !important;    
  }
}