* {
  margin: 0;
  padding: 0;
  
}
:root {

  --sidebar-item-size: 250px;

  --primary-color: #607D8B;
  --primary-color-dark: #455A64;
  --primary-color-light: #CFD8DC;
  --primary-text-color: var(--primary-color-dark);
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
  --accent-color: #1976D2;
  --text-color: #FFFFFF;
  --icon-color: var(--text-color);

  


}

.body {
  display: grid;
  max-width: 992px;
  /* min-height: 100vh; */
  margin: 0 auto;
  color: var(--primary-text-color);
  background-color: var(--primary-color-light);
  grid-template-columns: 35% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "nav nav"
      "aside main"
      "footer footer";
  font-family: 'Tahoma', 'Geneva', sans-serif;

}
/* ---------------------navbar--------------------- */

nav {
  min-height: 2vh;
  grid-area: nav;
}
.navbar-nav {
  flex-grow: 3;

  display: flex;

  align-items: center;
  justify-content: space-around;
}

/* .navbar-nav li a {
  text-decoration: none;
  color: var(--primary-bg-color);
} */


.navbar-nav__item {
  list-style: none;
}

/* ---------------------aside--------------------- */
.sidebar {
  grid-area: aside;

  padding-bottom: 2rem;


  display: flex;
  flex-direction: column;

  gap: 2rem;




  font-size: 0.9rem;


  color: var(--primary-color-light);
  background-color: var(--primary-color );


}

.sidebar__profile {
  flex-grow: 0;

  display: flex;
  align-items: center;
}

.profile__foto {
 width: 100%;
 
}

.sidebar__greeting {

  flex-grow: 0;
  padding: 0px 1rem;
  

  line-height: 2rem
}

.greeting__title {
  padding-bottom: 1.5rem;
  color: var(--text-color);
}
.greeting__text {
  padding-bottom: 1rem;
  text-align: justify;

  
}

.sidebar__socials {
  flex-grow: 1;
 
  width: 100%;

  /* display: flex;
  flex-direction: column; */
  height: 100%;
  /* justify-content: space-around; */
  
}
.sidebar__socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socials__item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 0.5rem;


}

.socials__icon-link {
  fill: var(--icon-color);
  text-decoration: none;
  display: flex;
}

/* ---------------------main--------------------- */




.resume {  
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  background-color: var(--text-color);
}
.resume__section {
  grid-column: main;
}



.aboutme__name {
  
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;

  padding-bottom: 1rem;
}

.aboutme__firstname {
  color: var(--primary-text-color);;
}

.aboutme__lastname {
  color: var(--accent-color);
}

.aboutme__title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.section__title {
  padding-bottom: 1.5rem;
  color: var(--accent-color);
}
.resume__aboutme,
.section__item {
  padding-bottom: 1rem;
}

.item__link {
  color: var(--accent-color);
}




/* .project-link {
  text-decoration: none;
} */




footer {
  height: 2vh;

}



/* 
section {
  
}


.navbar {
  background: var(--nav-bg-color);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.navbar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.avatar {
  max-width: 200px;
  border-radius: 100%;
  border: 0.4rem solid;
  border-color: var(--icon-border-color);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  gap: 3rem;
}
/* создать брэйпоинт для navbar-nav gap, чтобы сдедать больше отступ при увеличении страницы*/

/* 
.navbar-item {
  flex: 1 1 auto;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.navbar-link {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.navbar-link:hover {
  color: var(--main-bg-color);
}

.container {
  background-color: var(--main-bg-color);
  padding: 0 2rem 2rem;
}
.profile {
  min-height: 100vh;
}

.profile,
.education,
.courses {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.education,
.courses  {
  min-height: 50vh
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}



.profile-name {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 6rem);
  text-transform: uppercase;
}

.profile-name-lastname {

  color: var(--secondary-text-color);
}

.profile-title,
.education-title,
.courses-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-hover-color);
}
.text-description {
  font-size: 1.4rem;
}
.text-title {
  font-size: 1.6rem;
}


.profile-communication {
  display: flex;
  justify-content: left;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-item,
.icon,
.profile-download-item {
  fill: var(--icon-color);
}

.contact-item,
.profile-download-item {
  
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
}

.socials {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  flex: 2;
  align-items: center;

  justify-content: center;
}

.university,
.provider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.university-title,
.provider-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dates {
  font-size: 1.3rem;
  color: var(--secondary-text-color);
}

a>svg:hover {

  fill: var(--main-hover-color);
}
.footer {
  height: 2rem;
} */





 
