@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #333c54;
  --main-bg-color: #f6f6f6;
  --main-text-color: #333c54;
  --secondary-text-color: #d27230;
  --main-hover-color: #d27230;
  --icon-color: var(--main-text-color);
  --nav-bg-color: #333c54;
  --nav-hover-color: var(--primary-color);
  --icon-border-color: var(--secondary-text-color);
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 1fr;

  grid-column-gap: 10px;
  gap: 0px;

  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);

}

section {
  min-height: calc(100vh - 3rem);
}


.navbar {
  background: var(--nav-bg-color);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.navbar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.avatar {
  max-width: 200px;
  border-radius: 100%;
  border: 0.4rem solid;
  border-color: var(--icon-border-color);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  gap: 3rem;
}
/* создать брэйпоинт для navbar-nav gap, чтобы сдедать больше отступ при увеличении страницы*/


.navbar-item {
  flex: 1 1 auto;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.navbar-link {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.navbar-link:hover {
  color: var(--main-hover-color);
}

.container {
  overflow-y:scroll;  
  background-color: var(--main-bg-color);
  padding: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}



.profile-name {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 6rem);
  text-transform: uppercase;
}

.profile-name-lastname {
  margin: 0;
  color: var(--secondary-text-color);
}

.profile-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-hover-color);
}
.description {
  font-size: 1.4rem;
}

.profile-communication {
  display: flex;
  justify-content: left;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-item,
.icon,
.profile-download-item {
  fill: var(--icon-color);
}

.contact-item,
.profile-download-item {
  
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
}

.contacts-title {
  font-size: 1.5rem;
  font-weight: 700;

  color: var(--secondary-text-color);
}


.socials {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  flex: 2;
  align-items: center;

  justify-content: center;
}

a>svg:hover {

  fill: var(--main-hover-color);
}







