@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
:root {
  --main-bg-color: #f6f6f6;
  --secondary-bg-color: #333c54;


  --main-text-color: #d27230;


}

body {
  display: grid;
  max-width: 992px;
  min-height: 100vh;
  margin: 0 auto;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  grid-template-columns: 35% 1fr;
  grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar footer";

}
header {
  grid-area: header;
}

main {
  grid-column: main;
}

nav {
  grid-row: sidebar;
}

footer {
  grid-column: footer;
}

.profile-foto {
  max-width: 200px;
  border: 0.4rem solid;
  border-radius: 100%;  
  border-color: var(--icon-border-color);
}

 
